<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <nav> 
        <button id="create-folder-btn">Create Folder</button>
        <a href="/log-out">Logout</a>
    </nav>
    <main>
        <h1>Welcome to HomePage  <%= username %> </h1>
    
        <dialog id="create-folder">
            <form action="/create-folder" method="post">
              <h1>Create Folder</h1>
              <label for="folderName">Name</label>
              <input type="text" name="folderName" required />
              <button type="submit">Create</button>
            </form>
            <button id="close-popup">Close</button>
          </dialog>
          
          <!-- <form action="/uploadfile" enctype="multipart/form-data" method="post">
            <div class="form-group">
              <label for="folderId">Select Folder</label>
              <select name="folderId" required>
                <% folders.forEach(folder => { %>
                  <option value="<%= folder.id %>"><%= folder.name %></option>
                <% }) %>
              </select>
              <input type="file" name="uploaded_file" required />
              <input type="submit" value="Upload" />
            </div>
          </form> -->
          <h2>Folders</h2>
          <% folders.forEach(folder => { %>
            <a href="/<%= folder.id %>/folder"><%= folder.name %></a>
          <% }) %>
        
    </main>
    <script>
        const folderDialogue = document.getElementById("create-folder");
        const createFolderBtn = document.getElementById("create-folder-btn");
        const closeBtn = document.getElementById("close-popup");

        createFolderBtn.addEventListener("click", () => {
            folderDialogue.showModal();
        })

        closeBtn.addEventListener("click", () => {
            folderDialogue.close();
        })
    </script>
</body>

</html>